<div class="col-md-6">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Titulo</th>
				<th>Tipo</th>
				<th>Gravedad</th>
				<th>Prioridad</th>
				<th>Asignado a</th>
				<th>Expiracion</th>
			</tr>
		</thead>
		<tbody>
			<tr href="" ng-click="ctrl.seleccionar(issue)" ng-repeat="issue in ctrl.issues">
				<td id="{{issue.titulo}}" ng-bind="issue.titulo"></td>
				<td ng-bind="issue.tipo"></td>
				<td ng-bind="issue.gravedad"></td>
				<td ng-bind="issue.prioridad"></td>
				<td ng-bind="issue.asignado.nombre"></td>
				<td ng-bind="issue.expiracion"></td>

			</tr>
		</tbody>
	</table>
	<br>
	<button class="btn-primary" ng-click="ctrl.delete()">Borrar Seleccionado</button>

</div>