<script type="text/ng-template" id="group-template.html">

    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>
<div id="control" class="testimonial-group">
<div class="d-inline-block row">
	<div class="col-md-1"></div>
	<div class="col-md-4 kanban"  >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Nuevo</h2></div>
		<div id="NUEVO" style="height: 450px;height:100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

	</div>
	<div class="col-md-4 kanban" >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>En progreso</h2></div>
		<div id="EN_PROGRESO" style="min-height: 450px;height:100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
	<div class="col-md-4 kanban">
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Listo para probar</h2></div>
		<div id="PARA_TESTEAR" style="min-height: 450px;height:100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
	<div class="col-md-4 kanban" >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Cerrado</h2></div>
		<div id="CERRADO" style="min-height: 450px;height:100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
	<div  class="col-md-4 kanban" >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Investigar</h2></div>
		<div id="INVESTIGAR" style="min-height: 450px;height:100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
		<div  class="col-md-4 kanban" >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Rechazado</h2></div>
		<div id="RECHAZADO" style="min-height: 450px;height:100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
		<div  class="col-md-4 kanban" >
		<div style="background:#d0d0d0;height: 50px;border: 1px solid #2455a5" align="center"><h2>Postpuesto</h2></div>
		<div id="POSTPUESTO" style="min-height: 450px;height:100%" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
	</div>
	
	<div class="col-md-1"></div>
</div>
</div>
<div >

		<uib-accordion close-others="oneAtATime"> 
	<div uib-accordion-group class="panel-default" id="{{issue.titulo}}" draggable="true" ondragstart="drag(event)" ng-repeat="issue in ctrl.issues" ng-click="ctrl.seleccionar(this)">
	  <uib-accordion-heading>
        <strong>{{issue.titulo}} </strong><i align="right" class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
        <br>
        <strong> Estado:{{issue.estado}}</strong>

      </uib-accordion-heading>
      <p>Tipo: <strong>{{issue.tipo}}</strong></p>
      <p>Gravedad: <strong>{{issue.gravedad}}</strong></p>
      <p>Prioridad: <strong>{{issue.prioridad}}</strong></p>
      <p>Usuario asignado: <strong>{{issue.asignado.usuario}}</strong></p>
      <p>Fecha de expiracion: <strong>{{issue.expiracion}}</strong></p>
      <button class="btn btn-info" ng-click="ctrl.editarIssue()"> Editar Seleccionado</a></button>  
	  <button class="btn btn-danger" ng-click="ctrl.delete()">Borrar Seleccionado</button>
    </div>
</uib-accordion>

</div>
{{ctrl.ordenarIssues()}}
