<div>
<div id="metro">
		<div class="slide" id="{{proyecto.nombre}}" href="" ng-click="ctrl.abrirProyecto(proyecto)" ng-repeat="proyecto in ctrl.proyectos">
		<div><font face = "Times New Roman" size="5">Nombre: {{proyecto.nombre}}</font></div>
		<div><font face = "Times New Roman" size="5">Creador: {{proyecto.creador.usuario}}</font></div>
		<div><font face = "Times New Roman" size="5">Miembros</font></div>
		<ul><li ng-repeat="users in proyecto.miembros"><font face = "Times New Roman" size="5">{{users.usuario}}</font></li></ul>
	</div>

</div>
<div class="col-md-6">


	<br>
	    <a ng-click="ctrl.nuevoProyecto()" class="btn btn-primary">Crear nuevo proyecto</a>

</div>
</div>
