<div class="col-md-6">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre del proyecto</th>
				<th>Usuario creador</th>
				<th>Miembros</th>
			</tr>
		</thead>
		<tbody>
			<tr id="{{proyecto.nombre}}" href="" ng-click="ctrl.seleccionar(proyecto)" ng-repeat="proyecto in ctrl.proyectos">
				<td ng-bind="proyecto.nombre"></td>
				<td ng-bind="(proyecto.creador.nombre + ' ') + (proyecto.creador.apellido)"></td>
				<td ng-repeat="users in proyecto.miembros">{{users.nombre}}</td>
			</tr>
		</tbody>
	</table>
	<br>
	<button id="borrar" class="btn-primary" ng-click="ctrl.delete()">Borrar Seleccionado</button>
</div>
