<div class="col-md-6">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripci&oacute;n</th>
				<th>Prioridad</th>
				<th>Dificultad</th>
				<th>Estado</th>
				<th>Asignado</th>
				<th>Expiraci&oacute;n</th>
			</tr>
		</thead>
		<tbody>
			<tr id="{{task.nombre}}" href="" ng-click="ctrl.seleccionar(task)" ng-repeat="task in ctrl.tasks">
				<td >{{task.nombre}}</td>
				<td ng-bind="task.descripcion"></td>
				<td ng-bind="task.prioridad"></td>
				<td ng-bind="task.dificultad"></td>
				<td ng-bind="task.estado"></td>
				<td ng-bind="task.asignado.usuario"></td>
				<td ng-bind="task.expiracion"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<button class="btn-primary" ng-click="ctrl.delete()">Borrar Seleccionado</button>
</div>
